$white-color: #fff;
$black-color: #1a1a1a;
$dark-black: #000;
$primary-color: #4f008c;
$orange-color: #ff6b38;
$gray-color: #f3f3f3;
$red-color:#FA1834;
$green-color:#2EB100;
$box-shadow: 3px 3px 20px rgba(107, 107, 107, 0.34);
$border-radius: 8px;
$border-radius-lg: 16px;